<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Rater</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #pic {
        height: 100%;
        background: url({{ current_submission.url }});
        background-repeat: no-repeat;
        background-position: center;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

  <div style=" bottom: 0; position: fixed; z-index: 1; background-color: rgba(255,255,255,0.85); padding: 1em 2em; font-family: 'Open Sans';">
  <h1>Guess The Score of The Submission</h1>
  <h2>Title: {{ current_submission.title }}</h2>
  <a href={{ current_submission.url }} target='_blank'>Image</a>
  <a href='https://reddit.com{{ current_submission.permalink }}' target='_blank'>Submission</a>

  <h2>Round #{{ round_no }}</h2>
  <button id="reset">Reset</button><br /><br />
  
  <form action="/" method="POST">
      Score:<br />
      <input type="text" name="score" value=""><br>
      <input type="submit" value="Guess">
  </form>

    <p><b> Your score: </b>{{ score }}</p>
    <p><b> Rounds left: </b>{{ rounds_remaining }}</p>

  </div>
    <div id="pic"></div>
  </body>

  <script>
    const main = () => document
      .getElementById('reset')
      .addEventListener('click', () => fetch('/', { method: 'DELETE' })
        .then(() => window.location.reload()));

    window.onload = () => main();
  </script>
</html>